/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}
@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-Regular.ttf');
}

:root {
	--theme-font-family-base: 'Roboto', sans-serif;
	--theme-font-family-heading: 'Roboto', sans-serif;
}